## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [62]:
a = 2
print(a)

2

2) Imprimir el tipo de dato de la constante 8.5

In [63]:
print(8.5)

8.5

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [64]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [65]:
b = "mmitacc"

5) Crear una variable que contenga un número complejo

In [66]:
c = 4+5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [67]:
type(c)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [68]:
import cmath
d = round(cmath.pi,4)
print(d)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [69]:
e = "True"
f = True
e == f  # Ambas no son iguales, ya que -e- es un tipo de dato "string" y -f- es de tipo "bool"

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [70]:
print(type(e))
print(type(f))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [71]:
g = 5 + 2.38
print(g)

7.38

11) Realizar una operación de suma de números complejos

In [72]:
2+3j + 5+1j

(7+4j)

12) Realizar una operación de suma de un número real y otro complejo

In [73]:
2.35 + 1.05+0.25j

(3.4000000000000004+0.25j)

13) Realizar una operación de multiplicación

In [74]:
1.5 * 2.1

3.1500000000000004

14) Mostrar el resultado de elevar 2 a la octava potencia

In [75]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [76]:
h = 27/4
print(h)

6.75

16) De la división anterior solamente mostrar la parte entera

In [77]:
int(h)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [78]:
27%4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [79]:
4*int(h)+27%4

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [80]:
i = "Mi gato "
j = "dice MIAUU!"
i + j

'Mi gato dice MIAUU!'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [81]:
"2" == 2  # Es false porque se compara un string de un entero ó número

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [82]:
k = int("2")
k == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [83]:
aa = float('3.8')  # Arrojaba error por la coma (,) pues no lo reconoce como separador decimal de un número

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [84]:
l = 3
l -= 1
print(l)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [85]:
# En Python << es una declaración para una operación de dezplazamiento a la izquierda de bits
1<<2 # Para este caso significa, que recorra el número binario 1 en 2 posiciones a la izquierda
# y luego presentar el resultado en un número decimal

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [86]:
# Esta operación no esta permitida por ser tipos de datos distintos: 2 + "2"
# Pero si en la operación ambos datos son del mismo tipo el resultado sería "viable"
print(2 + 2)
print("2"+"2")

4
22

26) Realizar una operación válida entre valores de tipo entero y string

In [87]:
str(49) + " años"

'49 años'